main
{
    position: relative;
    top: 10%;
    margin-left: 5%;
    width: 89%;
    height: 150%;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 600px) { /* Adjust the max-width as needed */
    main {
        display: flex;
        flex-direction: column; /* Stacks items vertically */
        align-items: center; /* Centers them */
    }

    .column_1
    {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        min-width: 100%;
        height: auto;
        background-color: wheat;
    }
    
    .column_2
    {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        min-width: 100%;
        height: auto;
        background-color: yellow;
    }
    
    .column_3
    {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        min-width: 100%;
        height: auto;
        background-color: pink;
    }
}

@media (min-width: 601px) { /* Adjust the max-width as needed */
    main {
        margin-top: 5%;
        display: flex;
        flex-direction: row; /* Stacks items vertically */
        align-items: flex-start;
        gap: 20px;
    }

    /*
        This for the first column in the main tag.
        it located at the left side.
    */
    .column_1
    {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        max-width: 24.99999%;
        height: auto;
        gap: 20px;
    }

    .profile_column
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        gap: 20px;
        background-color: white;
        box-shadow: 4px 4px 20px rgba(10, 10, 10, 0.2); 
    }

    .profile_column p
    {
        font-family: "Open Sans", sans-serif;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .logo_container
    {
        width: 100%;
        height: 100%;
    }
    
    .avatar
    {
        width: 106px;
        height: 106px;
        border-radius: 50%;
    }
    
    .profile_img_size_logo
    {
        width: 15px;
        height: 15px;
        margin: 15px 15px 15px 0px;
    }

    .button_container
    {
        display: flex;
        flex-direction: column;
        box-shadow: 4px 4px 20px rgba(10, 10, 10, 0.2);
    }

    .button_container button
    {
        display: flex;
        background-color: #7d97a5;
        padding: 13px 26px;
        border: none;
        color: #fff;
        gap: 20px;
        display: flex;
        justify-content: start;
        align-items: center;
        font-family: "Open Sans", sans-serif;
        font-size: 15px;
    }

    .button_container button p {
        white-space: nowrap; 
    }

    .button_hover
    {
        display: none;
    }

    .button_container button:hover
    {
        background-color: #cccccc;
        cursor: pointer;
        color: black;
    }

    .button_container button:hover .not_hover
    {
        display: none;
    }
    
    .button_container button:hover .button_hover
    {
        display: block;
    }

    .column_line
    {
        width: 100%;
    }
 
    button > img
    {
        width: 20px;
        height: 18.38px;
    }

    .button_container > div
    {
        font-family: "Open Sans", sans-serif;
        font-size: 15px;
        padding: 13px 26px;
        display: none;
    }

    .interest_container
    {
        padding: 10px;
        box-shadow: 4px 4px 20px rgba(10, 10, 10, 0.2);
    }

    .interest_container > div
    {
        display: flex;
        flex-direction: row;
        gap: 5px;
        flex-wrap: wrap;
    }

    .interest_container div > p
    {
        color: white;
        padding: 5px 10px;
        font-size: 15px;
        font-family: "Open Sans", sans-serif;
    }   

    .news
    {
        background-color: #303e45;
    }

    .W3Schools
    {
        background-color: #3a4b53;
    }

    .labels
    {
        background-color: #435761;
    }

    .games
    {
        background-color: #4d636f;
    }

    .friend
    {
        background-color: #57707d;
    }

    .games1
    {
        background-color: #62737d;
    }

    .Friends1
    {
        background-color: #707d86;
    }

    .food
    {
        background-color: #83939d;
    }

    .design
    {
        background-color: #92a1ab;
    }

    .art
    {
        background-color: #a1b0b9;
    }

    .photos
    {
        background-color: #b2c0c9;
    }


    .my_photo_cls
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Two equal columns */
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    .my_photo_cls img
    {
        width: 100%;  /* Each image takes full width of the grid cell */
        height: 95%;
    }

    .notification
    {
        display: flex;
        flex-direction: column;
        background-color: #dfe5e8;
        border: 1px solid grey;
        padding: 0;
    }

    .notification > div
    {
        font-family: "Open Sans", sans-serif;
        display: flex;
        justify-content: space-between;
        color: black;
        padding: 10px;
    }

    .notification div > h2
    {
        margin: 0;
    }
    
    .notification .center
    {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .notification button
    {
        width: 50px;
        font-size: 20px;
    }

    .notification button:hover
    {
        background-color: grey;
        cursor: pointer;
    }

    @media (max-width: 720px) {
        .button_container button {
            justify-content: center;
        }
    }

    /*
        This code for the 2nd column in the main tag
    */

    .column_2
    {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        max-width: 56%;
        height: auto;
        gap: 20px;
    }

    ._1st_column_container_two
    {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 15px;
        gap: 10px;
        font-family: "Open Sans", sans-serif;
        box-shadow: 4px 4px 10px rgba(10, 10, 10, 0.2);
    }

    ._1st_column_container_two p
    {
        color: grey;
    }

    ._1st_column_container_two .status
    {
        font-size: 15px;
        width: 95%;
        height: 33%;
        padding: 10px;
    }

    ._1st_column_container_two button
    {
        color: white;
        background-color: #607d8b;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Open Sans", sans-serif;
        font-size: 15px;
        padding: 10px 5px;
        gap: 5px;
    }

    ._1st_column_container_two button:hover
    {
        color: black;
        background-color: #cccccc;
        cursor: pointer;
    }

    .is_hover
    {
        display: none;
    }

    ._1st_column_container_two button:hover .is_hover
    {
        display: block;
    }

    ._1st_column_container_two button:hover .not_hover
    {
        display: none;
    }

    ._1st_column_container_two button > img
    {
        width: 20%;
        height: 80%;
    }

    ._2nd_column_container_two
    {
        font-family: "Open Sans", sans-serif;
        letter-spacing: 0.5px;
        padding: 15px;
        box-shadow: 4px 4px 10px rgba(10, 10, 10, 0.2);
    }

    ._2nd_column_container_two hr
    {
        opacity:0.2;
    }

    .profile_top_column
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        margin: 15px 0px 50px 0px;
    }

    .profile_details
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 10px;
    }

    .profile_top_column p
    {
        font-size: 15px;
        color: grey;
    }

    .profile_details p
    {
        font-size: 20px;
        color: black;
    }

    .caption_text
    {
        line-height: 1.5;
        margin-bottom: 20px;
    }

    .profile_top_column img
    {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .post_picture
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        margin-bottom: 15px;
    }

    .post_picture2
    {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }

    .post_picture2 img
    {
        width: 100%;
        height: 100%;
    }

    .post_picture img
    {
        width: 100%;
        height: 100%;
    }

    .react_button_cointainer
    {
        display: flex;
        gap: 15px;
    }
    
    ._2nd_column_container_two button
    {
        background-color: #4d636f;
        font-size: 15px;
        border: none;
        color: white;
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    ._2nd_column_container_two button:hover
    {
        background-color: #cccccc;
        color: black;
        cursor: pointer;
    }

    ._2nd_column_container_two button:hover .like_not_hover
    {
        display: none;
    }

    ._2nd_column_container_two .like_is_hover
    {
        display: none;
    }

    ._2nd_column_container_two button:hover .like_is_hover
    {
        display: block;
    }

    ._2nd_column_container_two button:hover .comment_not_hover
    {
        display: none;
    }

    ._2nd_column_container_two .comment_is_hover
    {
        display: none;
    }

    ._2nd_column_container_two button:hover .comment_is_hover
    {
        display: block;
    }

    .column_3
    {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        max-width: 16%;
        height: auto;
        font-family: "Open Sans", sans-serif;
        font-size: 15px;
        gap: 20px;
    }

    ._3rd_column_container_clm_3
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
        box-shadow: 4px 4px 10px rgba(10, 10, 10, 0.2);
        gap: 15px;
    }

    ._3rd_column_container_clm_3 .forest
    {
        width: 100%;
    }

    .text_type
    {
        font-weight: 550;
    }

    ._3rd_column_container_clm_3 button
    {
        font-size: 15px;
        padding: 10px;
        width: 100%;
        border: none;
        cursor: pointer;
    }

    ._3rd_column_container_clm_3 button:hover
    {
        background-color: #cccccc;
    }

    ._3rd_column_container_clm_3 .avatar3
    {
        width: 50%;
    }

    .confirm_button_container
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .confirm_button_container
    {
        width: 100%;
    }

    .confirm_button_container button
    {
        width: 100%;
        border: none;
    }

    .confirm_btn
    {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #94cf96;
    }

    .cancel_btn
    {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f88e86;
    }

    .confirm_button_container button:hover
    {
        background-color: grey;
    }

    .confirm_is_hover
    {
        display: none;
    }

    .cancel_is_hover
    {
        display: none;
    }

    .confirm_button_container button:hover .confirm_is_hover
    {
        display: block;
    }

    .confirm_button_container button:hover .confirm_not_hover
    {
        display: none;
    }

    .confirm_button_container button:hover .cancel_is_hover
    {
        display: block;
    }

    .confirm_button_container button:hover .cancel_not_hover
    {
        display: none;
    }

    .ads_container
    {
        padding: 30px;
    }

    body
{
    margin: 0;
    padding: 0;
    width: 100vw;
    overflow-x: hidden;
}

h1, p, ul, li
{
    margin: 0;
    padding: 0;
}

h3
{
    font-family: "Open Sans", sans-serif;
}

    
}